.site-application {
    margin: 0;
    padding: 0;
}

.application__section {
    position: relative;
    margin: 0;
    padding: 90px 0 133px 0;
    background-image: url(../../images/bluwepb.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.application {
    margin: 0 auto;
    padding: 0 320px 0 0;
    @include center;
}

.app__top {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.app__title {
    margin: 0 0 32px 0;
    padding: 0;
    @include font(700, 48px, 20px, #fff);
}

.app__input {
    margin: 0;
    padding: 18px 147px 12px 28px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #fff;
}

.app__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__input::placeholder {
    @include font(400, 16px, 20px, #949494);
}

.app__input:focus {
    background: #FFFFFF;
    border: 2px solid #FFBD54;
    border-radius: 5px;
    outline-color: #FFBD54;
}

.app__input:focus::placeholder {
    color: #333;
}

.app__input:active:placeholder {
    color: #dc4d41;
    outline-color: #dc4d41;
}

.btn {
    margin: 0 0 0 21px;
    padding: 15px 53px 14px 51px;
    background: #333333;
    border-radius: 3px;
    border: none;
    @include font(500, 16px, 21px, #fff);
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: #FFBD54;
}

.btn:active {
    opacity: 0.6;
}

.app__img {
    position: absolute;
    top: -98px;
    right: 0;
    z-index: 55;
    opacity: 1;
}